<h1>Weather Conditions</h1>
<hr>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/conditions", method: 'get' do %>

      <input type="text" name="address" placeholder="Chicago" class="form-control m-3">

      <button class="form-control m-3 btn btn-primary">Get Current Conditions</button>
    <% end %>

  </div>


  <% if params[:address].blank?%>
        <%city = 'Chicago'%>
  <%else%>
        <%city = params[:address].to_s%>
  <%end%>

  <% api_key = '333b45f00fdfbab439ac1d1d916c04c2' %>

  <% weather_json = open("https://api.openweathermap.org/data/2.5/weather?q=#{city}&appid=#{api_key}").read %>
  <% weather_data = JSON.parse(weather_json) %>

  <% weather = weather_data["weather"][0]["main"] %>
  <% temp_k = weather_data["main"]["temp"]%>
  <% temp_c = (temp_k-273).to_i%>
  <% wind = weather_data["wind"]["speed"]%>
  <% humidity = weather_data["main"]["humidity"]%>


  <div class="col-sm-4">
    <table class="table table-striped table-bordered m-3">
        <tbody>
          <tr>
            <td>Right Now:</td>
            <td><%= weather%></td>
          </tr>
          <tr>
            <td>Current Temperature:</td>
            <td><%= temp_c%> degree</td>
          </tr>
          <tr>
            <td>Wind:</td>
            <td><%= wind%> mph</td>
          </tr>
          <tr>
            <td>Humidity:</td>
            <td><%= humidity%>%</td>
          </tr>
        </tbody>
    </table>
  </div>

</div>
